<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Total Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %> - <%= user.username %></td>
        <td><%= user.total_likes %></td>
      </tr>
    <% end %>
  </tbody>
</table>