<div class="container-fluid">
  <% count = 0 %>
  <% @cities.each do |city| %>
    <% if count % 4 == 0 %>
      <div class="row">
    <% end %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail thumbnail-height-fixed">
        <% picture = city.pictures.order(cached_votes_up: :desc).first %>
        <% if picture %>
          <%= link_to image_tag(city.pictures.order(cached_votes_up: :desc).first.image.url(:med)) %>
        <% end %>
        <div class="caption text-center">
          <h3><%= city.name %></h3>
        </div>
      </div>
    </div>
    <% if count % 4 == 3 %>
      </div>
    <% end %>
    <% count += 1 %>
  <% end %>
</div>