<h1>All Pictures - Past 24 Hours</h1>
<h6>
  <%= link_to "Your Location - Last 24 Hours", "/pictures/" %> | 
  <%= link_to "All-Time - Your Location", "/pictures/alltime" %> | 
  <%= link_to "All Pictures", "/pictures/allpics" %>
</h6>

<%= render partial: "shared/picgrid" %>